body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDEDEC;
    padding-top: 30px;
}

#main-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.main-super-category {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px;
    margin-right: 0px;
    margin-top: 40px;
    position: relative;
    max-width: 500px;
    border-left: 1px solid #CECECE;
}

.main-super-category::after {
    content: attr(data-heading);
    position: absolute;
    top: -35px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #12161A;
}

.main-category {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 35px;
    margin-left: 10px;
    position: relative;
    width: 500px;
}

.main-category::after {
    content: attr(data-heading);
    position: absolute;
    top: -25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #12161A;
}

.item {
    height: 65px;
    width: 65px;
    border: 2px solid #FFFFFF;
    margin: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    margin-top: 10px;
    margin-left: 10x;
    margin-right: 10px;
    position: relative;
}

.item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    opacity: 100%;
    transition: height 0.1s ease, opacity 0.2s 0.1s;
}

.item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 0px solid white;
    transition: background-color 0.2s ease, outline 0.1s ease;
    outline-offset: 4px;
}

.item:hover::before {
    outline: 3px solid white;
}

.active::after {
    height: 100%;
    opacity: 0;
}

.inactive::before {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #12171C;
    height: 45px;
}

#content {
    margin-top: 50px;
    display: flex;
}

li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.list-title {
    display: inline;
}

.tooltip {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: #12161AEE;
    display: none;
    z-index: 100;
    cursor: default;
    pointer-events: none;
}

.tooltipped:hover .tooltip {
    display: block;
}

.tooltip-title {
    color: white;
    white-space: nowrap;
}

.tooltip-subtitle {
    color: #EEEEEE;
    white-space: nowrap;
    overflow-wrap: normal;
    font-style: italic;
    font-size: 13px;
}

.small {
    font-size: 11px;
    font-weight: bold;
    color: white;
}

.separator {
    width: 100%;
    height: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #CCCCCC;
}

.dlc-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.logo {
    height: 100%;
    width: 100%;
    background-image: url("logo.png");
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filter-box {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
    flex-shrink: 0;
    flex-grow: 0;
}

.filter-title {
    width: 100%;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.filter-list-title {    
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    margin-top: 5px;
}

.damage-icon {
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.collapsed+ul {
    display: none;
}

.filter-list-item {
    cursor: pointer;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.filter-list-item-active::before {
    content: "";
    position: absolute;
    background-image: url("chevron-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10px;
    height: 10px;
    left: -12px;
    top: 5px;
}

.filter-list-item-active {
    font-weight: bold;
}

.footer {
    width: calc(100% - 50px);
    padding: 25px;
    background-color: #12161A;
    color: #FFFFFF;
    font-size: 14px;
}

.footer-image {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
}

.footer-list {
    padding: 0;
}